/**
 *
 *
 * @author Liv <lh224hh@student.lnu.se>
 * @version 1.0.0
 */

/* CSS for the App component */

#root {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(241, 234, 243, 0.987);
  height: 90vh;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
}

.picture-container {
  margin-right: 20px;
  border: 2px solid #ccc;
}

.title-container {
  display: flex;
  flex: 1; /* Tar upp all tillgänglig plats och därmed centrerar rubriken */
  align-items: center;
  justify-content: center;
}

.links-container {
  text-align: right;
}

.user-info {
 margin-top: 10px;
}

.img {
  width: 20%; /* Justera storleken på bilden efter behov */
  height: auto; /* Justera storleken på bilden efter behov */
  display: block; /* Tar bort eventuellt utrymme under bilden */
}

.title {
  margin-right: 15px;
  margin-left: 15px;
}

.icon {
  width: 65px;
  height: 65px;
}

h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 3rem; /* Ökar storleken för en mer iögonfallande rubrik */
  text-align: center; /* Centrerar rubriken för bättre estetik */
  margin-bottom: 20px; /* Lägger till lite mellanrum nedanför rubriken för att skilja den från innehållet */
  letter-spacing: 2px; /* Ökar avståndet mellan bokstäverna för ökad tydlighet */
  font-weight: bold; /* Gör rubriken fet för att markera dess viktighet */
}

h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.8rem; /* Ökar storleken för en mer iögonfallande rubrik */
  letter-spacing: 2px; /* Ökar avståndet mellan bokstäverna för ökad tydlighet */
  font-weight: bold; /* Gör rubriken fet för att markera dess viktighet */
}

div.login-form form {
  display: flex;
  flex-direction: column; /* Organiserar barn vertikalt */
  align-items: center; /* Centrerar barnen horisontellt */
  padding: 5px;
}

input.login-input {
  margin-bottom: 10px; /* Lägger till lite vertikal utrymme mellan fälten */
}

.link-btn {
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 10px 20px;
  background-color: #68c7f3; /* Bakgrundsfärg */
  color: #fff; /* Textfärg */
  text-decoration: none; /* Ta bort understrykning */
  border-radius: 5px; /* Rundade kanter */
  margin-right: 10px; /* Avstånd mellan länkarna */
  transition: background-color 0.3s ease; /* Smidig övergång */
  width: 80px;
  cursor: pointer;
}

/* Styla länkarna vid hovring */
.link-btn:hover {
  background-color: #f3c6ef; /* Ändra bakgrundsfärgen vid hovring */
}

.btn-icon {
  margin-left: 8px; /* Justera värdet efter behov */
  font-size: 22px;
}

.log-message {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.username {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

.avatar-link {
  font-size: 40px;
  color: #68c7f3;
  padding-left: 5px;
}

.avatar-link:hover {
  color: #f3c6ef;
}

.btn {
  cursor: pointer;
  width: auto;
  height: auto;
  align-items: center;
  padding: 3px 5px;
}

.help-icon {
  font-size: 20px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-right: 15px;
}

.cog-icon {
  font-size: 20px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-right: 5px;
}

.search-form {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.search-icon-wrapper {
  position: relative;
  margin-right: -176px; /* Justera detta värde för att passa din design */
}

.search-input {
  width: 220px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; /* lätt rundade hörn */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtil skugga för djup */
}

.search-icon {
  position: absolute;
  top: 50%;
  font-size: 20px;
  right: -55px; /* Justera detta värde enligt önskad högermarginal */
  font-size: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.start-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
