/**
 *
 *
 * @author Liv <lh224hh@student.lnu.se>
 * @version 1.0.0
 */

/* CSS for the Board component */

.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr; /* Skapa en kolumn för side-bar och en för huvudinnehållet */
  grid-template-rows: auto 1fr auto; /* Skapa en rad för huvudinnehållet och en för bottenfältet */
  gap: 20px; /* Lägg till lite mellanrum mellan elementen */
  padding-left: 20px; /* Justera vänstermarginalen för att skapa en sidofältseffekt */
  height: 100vh; /* Anpassa höjden efter dina behov */
  overflow-y: hidden; /* Dölj vertikal rullning */
}

.side {
  grid-column: 1 / 2; /* Placera side i första kolumnen */
  grid-row: 1 / 3; /* Placera side i andra raden */
}

.main-content {
  grid-column: 2 / 3; /* Placera huvudinnehållet i andra kolumnen */
  grid-row: 1 / 3; /* Placera huvudinnehållet i första raden */
  overflow-y: auto;
  padding-bottom: 120px; /* Lägg till lite utfyllnad längst ned för att undvika att bottenfältet täcker innehållet */
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Skapa en flexibel grid med minst 200px breda kolumner */
  gap: 180px; /* Lägg till lite mellanrum mellan elementen */
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-items: bottom;
  grid-column: 2 / 2; /* Placera huvudinnehållet i andra kolumnen */
}

.user-info {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.side-bar {
  position: fixed; /* Fäst behållaren på plats */
  left: 110px;
  top: 300px;
  height: 50vh; /* Anpassa höjden efter dina behov */
  margin-top: 0px; /* Justera toppmarginalen för att skapa en sidofältseffekt */
  background-color: rgba(245, 245, 255, 0.834);
  border: 2px solid #ccc; /* Ställ in en solid ram runt behållaren */
  border-radius: 8px; /* lätt rundade hörn */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtil skugga för djup */
  padding: 20px; /* Lägg till lite utfyllnad runt behållaren för utrymme */
  margin-left: 0px; /* Justera vänstermarginalen för att skapa en sidofältseffekt */
  width: 200px; /* Anpassa bredden efter dina behov */
  display: flex;
  flex-direction: column;
}

.up-arrow {
  margin-bottom: auto; /* Placerar pilen längst ned i side-bar */
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
}

.down-arrow {
  margin-top: auto; /* Placerar pilen längst ned i side-bar */
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.list-container {
  background-color: #f5f5f5; /* Bakgrundsfärg */
  border: 2px solid #ccc; /* Ram */
  border-radius: 5px; /* Rundade hörn */
  padding: 10px; /* Utfyllnad runt behållaren */
  margin-bottom: 20px; /* Avstånd till nästa container */
  height: 120px;
  overflow-y: auto; /* Låt innehållet i containern rulla vertikalt när det når kanten */
}

.list {
  list-style-type: none; /* Tar bort punkterna från listan */
  text-align: left;
  display: flex; /* Använd flexbox */
  flex-direction: column; /* Ställ in flexriktningen till kolumn */
  justify-content:
  flex-start; /* Justera listelement längre till vänster */
}

.list-header {
  display: flex; /* Använd flexbox */
  align-items: center;
  justify-content: space-between; /* Placera elementen jämnt mellanrum */
}

.list-title {
  font-size: 1rem; /* Rubrikens storlek */
  margin: 0; /* Ta bort marginalen runt rubriken */
}

.list-item {
  font-size: 1rem; /* Storlek på listelement */
  margin-bottom: 2px; /* Avstånd mellan listelement */
}

.list-icons {
}

.list {
 list-style-type: none;
 padding: 0;
 margin: 10px 0 0 0;
}

.list-li 

.list-star-icon {
  font-size: 20px; /* Storlek på stjärn-ikonen */
  cursor: pointer; /* Gör ikonen klickbar */
  position: absolute;
  top: 18px;
  right: 18px;
}

.list-star-icon:hover {
  font-size: 25px; /* Ändra storleken när muspekaren sveper över ikonen */
}

.list-pen-icon {
  font-size: 20px; /* Storlek på penn-ikonen */
  cursor: pointer; /* Gör ikonen klickbar */
  position: absolute;
  bottom: 18px;
  right: 18px;
}

.list-pen-icon:hover {
  font-size: 25px; /* Ändra storleken när muspekaren sveper över ikonen */
}

.note-form {
  position: fixed;
  top: 47%;
  left: 50%;
  flex-direction: column; /* Organiserar barn vertikalt */
  align-items: center; /* Centrerar barnen horisontellt */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(245, 245, 255);
  transform: translate(-50%, -70%); /* Flytta formuläret uppåt */
  width: 300px; /* Justera bredden efter dina behov */
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  right: 12px;
}

.close-icon:hover {
  font-size: 25px;
}

.note-form form {
  display: flex;
  flex-direction: column; /* Organiserar barn vertikalt */
  align-items: center; /* Centrerar barnen horisontellt */
  justify-content: center;
  text-align: center;
}

.form-text {
  margin-bottom: 5px; /* Lägger till lite vertikal utrymme mellan fälten */
}

.note-form input {
  border: 1px solid #ccc; /* Lägger till en solid ram runt fältet */
  border-radius: 5px; /* lätt rundade hörn */
  width: 100%; /* Fyller ut fältet i bredd */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.note-form textarea {
  border: 1px solid #ccc; /* Lägger till en solid ram runt fältet */
  border-radius: 5px; /* lätt rundade hörn */
  width: 100%; /* Fyller ut fältet i bredd */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 50px;
}

.icon-container {
  position: fixed;
  bottom: 165px; /* Position it just above the form */
  left: 50%;
  transform: translateX(-50%);
  width: 200px; /* Adjust width as needed */
  height: 90px; /* Adjust height as needed */
  border-radius: 50%;
  background-color: rgba(211, 211, 247, 0.834);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.plus-icon {
  cursor: pointer;
}

.icon-container > * {
  margin: 20px; /* Lägg till ett mellanrum på 20px runt varje ikon */
}

.icon-container svg {
  width: 65px; /* Gör ikonerna större genom att justera deras bredd */
  height: 25px; /* Gör ikonerna större genom att justera deras höjd */
}

.modal {
  position: fixed;
  top: 71%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(245, 245, 255, 0.834);
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  border-radius: 8px; /* lätt rundade hörn */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtil skugga för djup */
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice {
  padding: 5px 10px;
  width: 80px;
  height: 30px;
  cursor: pointer;
}

.choice:hover {
  background-color: #f4a1ed;
}

.bottom-bar {
  position: fixed; /* Fäst behållaren längst ned på sidan? */
  left: 140px;
  right: 140px;
  bottom: 30px; /* Justera bottenmarginalen för att placera behållaren längst ned på sidan */
  height: 100px; /* Anpassa höjden efter dina behov */
  border: 2px solid #ccc; /* Ställ in en solid ram runt behållaren */
  padding: 20px; /* Lägg till lite utfyllnad runt behållaren för utrymme */
  background-color: rgba(245, 245, 255, 0.834);
  border-radius: 8px; /* lätt rundade hörn */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtil skugga för djup */
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-arrow {
  font-size: 20px;
  /* margin-left: auto; */
  cursor: pointer;
}

.left-arrow {
  font-size: 20px;
  /* margin-right: auto; */
  cursor: pointer;
}

.bottom-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.bottom-list li {
  display: flex; /* Använd flexbox för att justera layouten inuti listan */
  align-items: center; /* Centrera innehållet vertikalt */
}

.bottom-list ul {
  display: flex;
  list-style: none;
}
